Projet + Cours/tp/MarketPlace/Essaies/ClientSOAP-Java/src/mypackage/ServerSOAP1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example.com/" name="ServerSOAPService">
<types>
<xsd:schema>
<xsd:import namespace="http://example.com/" schemaLocation="http://localhost:8080/ServerSOAP-1.0-SNAPSHOT/services/ServerSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="prix">
<part name="parameters" element="tns:prix"/>
</message>
<message name="prixResponse">
<part name="parameters" element="tns:prixResponse"/>
</message>
<message name="prixTotal">
<part name="parameters" element="tns:prixTotal"/>
</message>
<message name="prixTotalResponse">
<part name="parameters" element="tns:prixTotalResponse"/>
</message>
<message name="livraison">
<part name="parameters" element="tns:livraison"/>
</message>
<message name="livraisonResponse">
<part name="parameters" element="tns:livraisonResponse"/>
</message>
<message name="addition">
<part name="parameters" element="tns:addition"/>
</message>
<message name="additionResponse">
<part name="parameters" element="tns:additionResponse"/>
</message>
<portType name="ServerSOAP">
<operation name="prix">
<input wsam:Action="http://example.com/ServerSOAP/prixRequest" message="tns:prix"/>
<output wsam:Action="http://example.com/ServerSOAP/prixResponse" message="tns:prixResponse"/>
</operation>
<operation name="prixTotal">
<input wsam:Action="http://example.com/ServerSOAP/prixTotalRequest" message="tns:prixTotal"/>
<output wsam:Action="http://example.com/ServerSOAP/prixTotalResponse" message="tns:prixTotalResponse"/>
</operation>
<operation name="livraison">
<input wsam:Action="http://example.com/ServerSOAP/livraisonRequest" message="tns:livraison"/>
<output wsam:Action="http://example.com/ServerSOAP/livraisonResponse" message="tns:livraisonResponse"/>
</operation>
<operation name="addition">
<input wsam:Action="http://example.com/ServerSOAP/additionRequest" message="tns:addition"/>
<output wsam:Action="http://example.com/ServerSOAP/additionResponse" message="tns:additionResponse"/>
</operation>
</portType>
<binding name="ServerSOAPPortBinding" type="tns:ServerSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="prix">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prixTotal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="livraison">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServerSOAPService">
<port name="ServerSOAPPort" binding="tns:ServerSOAPPortBinding">
<soap:address location="http://localhost:8080/ServerSOAP-1.0-SNAPSHOT/services/ServerSOAP"/>
</port>
</service>
</definitions>